<section>
    <h1 class="text-success display-4">ONLINE SCHOOL</h1>
    

   
   


    <!-- <h1 class="text-success display-4">
        <img src="/static/images/images.jpg" alt="ONLINE SCHOOL">
        </h1> -->

<hr/>
    
    <div class="text-right"style="text-align: right;">
        <a href="/" class = "btb btn-info btn-sm">Home</a>
        <a href="/about" class = "btb btn-info btn-sm">About</a>
        <a href="/blog" class = "btb btn-info btn-sm">Blog</a>
        <a href="/classroom" class = "btb btn-info btn-sm">Classroom</a>
        <a href="/dashboard" class = "btb btn-info btn-sm">Dashboard</a>
        <a href="/contact" class = "btb btn-info btn-sm">Contact</a>
        <a href="/login" class = "btb btn-info btn-sm">Login</a>              
    </div>
<hr/>  
</section>  
